#!/sbin/openrc-run

name="TrustTunnel Server"
description="AdGuard TrustTunnel VPN Server"

command="/usr/local/bin/trusttunnel"
command_args="-c /etc/trusttunnel/config.yaml"
command_background=true
pidfile="/run/trusttunnel.pid"

depend() {
    need net
    after firewall
}
